apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  # Sometimes external secrets are refered to as
  # External Secrets Operator, which is known as a ESO.
  # The term esos, comes from External Secrets Operators.
  # The pluralization of ESO.
  name: external-secret-apikey
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: sage-ro
    kind: SecretStore
  target:
    name: secret-apikey
  data:
    - secretKey: jcunning-api-key.conf
      remoteRef:
        key: sage/sage-code-assist-apikey
        property: JCUNNING_API_KEY
    - secretKey: nhook-api-key.conf
      remoteRef:
        key: sage/sage-code-assist-apikey
        property: NHOOK_API_KEY
    - secretKey: cgrant-api-key.conf
      remoteRef:
        key: sage/sage-code-assist-apikey
        property: CGRANT_API_KEY
    - secretKey: ejn-api-key.conf
      remoteRef:
        key: sage/sage-code-assist-apikey
        property: EJN_API_KEY
